// basic style setting

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img {
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
}


body {
    font-family: $fontFamily-main;
    font-size: 16px;
    color: $black-font;
    font-weight: 400;
    line-height: 24px;
}



//container
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
}
@media(max-width:$breakpoint) {
    .container {
        max-width: 660px;
    }
}