.btn_base {
    /* Structure */
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-family: $fontFamily-main;
}

.btn_nav {
    font-size: $fz-base;
    padding: 8px 32px;
    border: none;
    background-color: $red;
    border-radius: 22px;
    color: $white;
    &:hover {
        background-color: darken($red,20%);
    }
}



.btn_solid {
    font-size: $fz-middle;
    padding: 12px 32px;
    border-radius: 27px;
    color: $white;
    background-color: $maincolor;
    border: none;
}

.btn_solid:hover {
    background-color: darken($maincolor,20%);
}

.btn_ghost {
    font-size: $fz-middle;
    padding: 12px 32px;
    border-radius: 27px;
    color: $maincolor;
    background-color: $white;
    border: 1px solid $maincolor;

    &:hover {
        color: $white;
        background-color: $maincolor;
    }
}

.btn_active {
    color: $white;
    background-color: $maincolor;
}



