//header
.price_bg {
  max-height: 470px;
  background-color: $sblue_bg;
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 0px 0px 0px 300px;

  h1 {
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
  }
  h2 {
    position: relative;
    z-index: 1;
  }

  .banner {
    padding-bottom: 180px;
    padding-top: 92px;
  }
}

.bannerpic {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: $breakpoint) {
  .price_bg {
    border-radius: 0px 0px 0px 120px;

    .m_yellowbb {
      background-color: $white;
    }
    .banner {
      padding-bottom: 80px;
      padding-top: 48px;
    }

    .bannerpic {
      width: 50%;
      top: 73.6px;
    }
  }
}

@media (max-width: $mbreakpoint) {
  .price_bg {
    max-height: 568px;
    .banner {
      padding-bottom: 361px;
      background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner_sm.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom right;
      max-height: 495px;
    }

    .bannerpic {
      display: none;
    }
  }
}

//price talbe
.priceTable {
  position:relative;
  h2 {
    margin-top: 60px;
    margin-bottom: 48px;
  }
}
.price_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 54px;
  button {
    margin-left: 8px;
    margin-right: 8px;
    padding: 12px 32px;
  }
}
.fillNum::after{
  content:"位";
  font-size:12px;
  display: inline;
  color: $maincolor;
  // margin-left:-6px;
}

.fillFee::after{
  content:"TWD";
  font-size:12px;
  display: inline;
  margin-left:-6px;
}

.chooseBtn::after{
  content:"位";
}


@media (max-width: $breakpoint) {
  .price_btn {
    button {
      font-size: 16px;
      margin-left: 6px;
      padding: 8px 16px;
    }
  }
}

@media (max-width: $mbreakpoint) {
  .price_btn {
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }
  .nobar {
    overflow-x: scroll;
    margin-bottom: -20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.priceSection {
  width: 80%;
  margin: 0 auto;
}

.priceBox {
  width: calc(100% / 2 - 10px);
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 2px 10px #00000014;

  &:first-child {
    margin-right: 20px;
  }

  h4 {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  hr {
    color: $gray-decoration;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.wrap_priceDetail {
  padding: 32px 24px;
  & > p {
    margin-bottom: 32px;
  }
  a {
    margin-top: 16px;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
  }
}

.priceMath {
  div {
    background-color: $gray-bg;
    width: 43%;
    max-width: 169px;
    padding: 16px 0px;
    border-radius: 12px;
  }

  span {
    margin-left: 8px;
  }
  p {
    margin: 8px 0;
  }
}

.function {
  margin: 32px 0px 16px 0px;
  li {
    margin-bottom: 16px;
    &:before {
      content: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_check.svg");
      width: 16px;
      margin-right: 13px;
    }
  }
}

@media (max-width: $breakpoint) {
  .priceSection {
    width: 100%;
  }

  .priceBox {
    width: 100%;
    &:first-child {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
  .wrap_priceDetail {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

// background cirecle decration

.dec_circle_price {
  display: block;
  position: absolute;
  top: calc(50% - 82px);
  transform: translateX(-70%);
  left: 0px;
  width: 361px;
  z-index: -1;
}

@media (max-width: $breakpoint) {
  .dec_circle_price {
    top: 50%;
    width: 204px;
  }
}

// QA section

.qaSection {
  width: 80%;
  margin: 0 auto;
  h2 {
    margin-top: 100px;
    margin-bottom: 48px;
  }
}
.qalist {
  margin-bottom: 100px;
  li {
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    margin-bottom: 16px;
    h4 {
      position: relative;
      padding: 16px 32px 16px 32px;
      color: $black-font;
      &::after {
        content: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_plus.svg");
        position: absolute;
        right: 32px;
      }
      &.active {
        color: $maincolor;
        font-weight: 700;
        &::after {
          content: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_minus.svg");
          transform: translateY(-30%);
        }
      }
    }
    p {
      padding: 8px 32px 32px 32px;
      color: $gray-font;
      display: none;
      // &.qa_active {
      //   display: block;
      // }
    }
  }
}

@media (max-width: $breakpoint) {
  .qaSection {
    width: 100%;
    h2 {
      margin-top: 60px;
      margin-bottom: 32px;
    }
  }
  .qalist {
    margin-bottom: 60px;
    h4 {
      padding-left: 16px;
      padding-right: 16px;
    }
    p {
      padding: 0px 16px 24px 16px;
    }
  }
}
